body{
    background-image:url(apple\ 123.webp);
    background-size: cover;
}
h1{
    color: white;
}
p{
    color: darkred;
    font-size: 20px;
}

.contacts{
    text-align: left;
    margin-left: 100px;
    margin-top: 100px;
}
.email{
    text-align: left;
    margin-top: -150px;
    margin-right: 1000px;
    margin-left: 400px;
   
}
